* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: grey;
    color: white;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
}

h1 {
    display: flex;
    justify-content: left;
    color: rgb(255, 204, 192);
}

header img {
    height: 100px;
    width: auto;
}



/* Navigation */
nav ul {
    display: flex;
    justify-content: center;

    gap: 20px;
    list-style-type: none;
    background-color: grey;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;

}



/* Main */
main {
    background-color: grey;
    color: black;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;

}

.class1 {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 5px 0px;

}

.class2 {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 5px 0px;
    color: red;

}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

main div article img {
    width: 300px;
    margin: 5px 0px 0px 0px;
}

main div article p {
    margin: 5px 0px 5px 0px;
}

/* About Us Main */
.Aboutus {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}




/* Footer */
footer {
    background-color: gray;
    margin: 10px 10px 0px 10px;
    padding: 25px 25px 25px 25px;

}

.footer1 {
    text-align: center;
    color: darkgrey;
}

.centeralignfooter {
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

footer ul img {
    height: 50px;
    width: auto;
}